<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Books Search</h1>
      </div>
      <div class="col-lg-4">
        <%=form_tag(volumes_search_path, :method => "get", :class => "form-inline md-form mb-3 ", 'accept-charset'=>"UTF-8") do %>
         <input class="form-control mr-md-5" type="text" placeholder="Search" aria-label="Search" id= "search_input" name="search[input]" value="<%=@search[:input] %>" />
     </div>
          <div class="col-lg-2">
            <button type="submit" name="commit" value= "Search" class="btn my-2 my-sm-0 btn-outline-secondary" data-disable-with="Search"> Search</button>
          </div>
        <% end %>  
        
       </div>
           <% if @response&.total_items.present? %>
      <p> <strong><%= @response&.total_items%></strong> Total Results</p>
    <% end %>
    </div>

</nav>

