<div class="container" style="min-height: 500px; padding: auto;">
	<div class="container" style="margin: auto; padding: auto; display: flex; align-items: center; min-height: 100%; min-height: 100vh; ">
	<div class="search_bar" style="padding: 20px; margin: auto;">
	  <%= render partial: "search_form", locals: {search: @search} %>
	</div> 
</div> 

</div>
